body{
background-color: #181818;
color: #fff;
}
.tumb1{
    border: none;
    margin: 5px;
}
.bloco{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: #333;
    padding: 15px;
    border-radius: 5px;    
}
.bloco a{
    text-decoration: none; 
    margin: auto;
    border: solid 2px transparent;    
}
.bloco a:hover{    
    border-radius: 5px;      
    background-color: rgb(42, 42, 255, 54%);
}
h2{
    margin-top: 30px;
}
.ref0{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    padding: 15px;
    border-radius: 5px;  
    margin-top: 20px;  
}
.ref5 {
    text-decoration: none;
    background-color: #7d60ff;
    color: #fff;
    padding: 7px;
    border-radius: 5px;
}
.ref5:hover{
    background-color: #181818;
    color: #7d60ff;
    font-weight: bold;
    padding-right: 15px;
    padding-left: 15px;
}
@media only screen and (max-width: 720px){
    .ref0{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        background-color: #333;
        padding: 15px;
        border-radius: 5px;
        box-sizing: border-box;   
    }
    .ref1{   
        margin-top: 10px; 
        margin-bottom: 10px; 
    }
    .ref5{
        padding-right: 250px;
        padding-left: 250px;
    }
    .ref5:hover{
        padding-right: 250px;
        padding-left: 250px;
    }
    .bloco{
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        background-color: #333;
        padding: 15px;
        border-radius: 5px;
    }
}
@media only screen and (max-width: 700px){
    .ref5{
        padding-right: 150px;
        padding-left: 150px;
    }
    .ref5:hover{
        padding-right: 150px;
        padding-left: 150px;
    }
}
@media only screen and (max-width: 650px){
    .ref5{
        padding-right: 100px;
        padding-left: 100px;
        font-size: 12px;
    }
    .ref5:hover{
        padding-right: 100px;
        padding-left: 100px;
    }
}
@media only screen and (max-width: 350px){
    .ref5{
        padding-right: 15px;
        padding-left: 15px;
        font-size: 8px;
    }
    .ref5:hover{
        padding-right: 15px;
        padding-left: 15px;
    }
}    
.texto1{    
    background-color: #181818;
    color: #fff;
    font-weight: bold;
    width: 150px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: auto; 
    margin-bottom: -5px;   
    text-transform: uppercase;
    text-align: center;  
    padding-top: 4px; 
    padding-bottom: 2px;
}