body{
background-image: url("../imagens/floresta.jpg");
background-size: cover;
background-repeat: no-repeat;
color: #fff;
}
.tumb1{
    border: none;
    margin: 5px;
}
.bloco{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:flex-start;
    background-color: rgba(22, 9, 66, 0.39);
    padding: 15px;
    border-radius: 5px;
    border-style: groove;
    border-color: rgba(53, 38, 102, 0.39);
}
.bloco a{
    text-decoration: none; 
    margin: auto;
    border: solid 2px transparent;    
}
.bloco a:hover{    
    border-radius: 5px;      
    background-color: rgba(23, 0, 66, 0.58);
}
h2{
    margin-top: 30px;
}
.ref0{
    display:flex;
    justify-content:space-around;
    align-items:center;    
    padding: 15px;
    border-radius: 5px;
    background-color: rgba(22, 9, 66, 0.39);
    border-style: groove;
    border-color: rgba(53, 38, 102, 0.39); 
    margin-top: 20px;  
}
.ref5 {
    text-decoration: none;
    background-color: rgba(30, 12, 88, 0.43);
    border-style: groove;
    border-color: rgba(30, 12, 88, 0.43);
    color: #ccc;
    padding: 7px;
    border-radius: 5px;
    font-weight: bold;
}
.ref5:hover{
    background-color: rgba(30, 12, 88, 0.43);
    border-style: groove;
    border-color: #7d60ff;
    color: #7d60ff;
    font-weight: bold;
    padding-right: 15px;
    padding-left: 15px;
}

@media only screen and (min-width: 1701px){
    .titleCont{
        margin: 0px auto;
        margin-bottom: 10px;
    }
    .bloco{
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        padding: 15px;
        border-radius: 5px;
        width: 720px;
        margin: 0px auto;
        margin-right: 30px;        
    }
    #main h2{
        text-align: center;
        margin-bottom: 3px;
        margin-top: 40px;
    }
    .chefeCont{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items:flex-start;
        flex-wrap: wrap;
    }
}
@media only screen and (max-width: 720px){
    .ref0{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        padding: 15px;
        border-radius: 5px;
        box-sizing: border-box;   
    }
    .ref1{   
        margin-top: 10px; 
        margin-bottom: 10px; 
    }
    .ref5{
        padding-right: 100px;
        padding-left: 100px;
    }
    .ref5:hover{
        padding-right: 100px;
        padding-left: 100px;
    }
    .bloco{
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;        
        padding: 15px;
        border-radius: 5px;
    }
    .colab2{
        text-align: center;
    }
}
@media only screen and (max-width: 700px){
    .ref5{
        padding-right: 150px;
        padding-left: 150px;
    }
    .ref5:hover{
        padding-right: 150px;
        padding-left: 150px;
    }
    .colab2{
        text-align: center;
    }
}
@media only screen and (max-width: 650px){
    .ref5{
        padding-right: 100px;
        padding-left: 100px;
        font-size: 12px;
    }
    .ref5:hover{
        padding-right: 100px;
        padding-left: 100px;
    }
    .colab2{
        text-align: center;
    }
}
@media only screen and (max-width: 393px){
    .ref5{
        padding-right: 25px;
        padding-left: 25px;
        font-size: 16px;
    }
    .ref5:hover{
        padding-right: 15px;
        padding-left: 15px;
    }
    .colab2{
        text-align: center;
    }
}
@media only screen and (max-width: 390px){
    .ref5{
        padding-right: 25px;
        padding-left: 25px;
        font-size: 16px;
    }
    .ref5:hover{
        padding-right: 15px;
        padding-left: 15px;
    }
    .colab2{
        text-align: center;
    }
}
@media only screen and (max-width: 375px){
    .ref5{
        padding-right: 15px;
        padding-left: 15px;
        font-size: 8px;
    }
    .ref5:hover{
        padding-right: 15px;
        padding-left: 15px;
    }
    .colab2{
        text-align: center;
    }
}
@media only screen and (max-width: 360px){
    .ref5{
        padding-right: 25px;
        padding-left: 25px;
        font-size: 16px;
    }    
    .colab2{
        text-align: center;
    }
}
@media only screen and (max-width: 350px){
    .ref5{
        padding-right: 15px;
        padding-left: 15px;
        font-size: 8px;
    }
    .ref5:hover{
        padding-right: 15px;
        padding-left: 15px;
    }
    .colab2{
        text-align: center;
    }
}
@media only screen and (max-width: 350px){
    .ref5{
        padding-right: 35px;
        padding-left: 35px;
        font-size: 11px;
    }    
    .colab2{
        text-align: center;
        font-size: 18px;
    }
}
.colab2{
    text-align: center;
}    
.texto1{    
    background-color: rgba(30, 12, 88, 0.43);
    color: #fff;
    font-weight: bold;
    width: 150px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: auto; 
    margin-bottom: -5px;   
    text-transform: uppercase;
    text-align: center;  
    padding-top: 4px; 
    padding-bottom: 2px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px
}

/* Modal */
.ImgUm,
.ImgDois,
.ImgTres{
    margin: 5px;
}
#myImg1,
#myImg2,
#myImg3 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    padding: 5px;
}
  
#myImg1:hover,
#myImg2:hover,
#myImg3:hover {
    opacity: 0.7;
}
  
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
  
/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 701px;
}
  
/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 701px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
  
/* Add Animation */
.modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
  
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}
  
@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
  
/* The Close Button */
.close1,
.close2,
.close3 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
  
.close1:hover,
.close2:hover,
.close3:hover,
.close1:focus,
.close2:focus,
.close3:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
  
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 701px){
    .modal-content {
      width: 100%;
    }
}
.blocoTexto1{
    display: inline-block;
    background-color: rgba(22, 9, 66, 0.39);
    border-style: groove;
    border-color: rgba(53, 38, 102, 0.39);
    padding: 10px;
    padding: 15px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.textoNovo{
    text-align: justify;
    font-size: 1.4rem;
}
.active{
    background-color: rgba(30, 12, 88, 0.43);
}
